* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 0px;
  border: 1px solid green;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #141414;
}

#welcome-text {
  margin: 2vw;
  color: #e5e5e5;
  text-align: center;
  font-size: 1.3vw;
}

#account-buttons a {
  text-decoration: none;
  color: gray;
  text-align: center;
}

#account-buttons ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}

#account-buttons img {
  max-width: 200px;
  border-radius: 4px;
  border: 3px solid #141414;
}

#account-buttons img:hover {
  border: 3px solid #e5e5e5;
  background-color: #e5e5e5;
}

#account-buttons a:hover {
  color: #e5e5e5;
}

#manage-profiles {
  display: absolute;
  top: 50%;
}

#manage-profiles form {
  margin-top: 3.5vw;
  padding: 1vw;
}

#manage-profiles button {
  padding: 0.5vw;
  background-color: #141414;
  color: gray;
  border: 2px solid gray;
  cursor: pointer; 
}

/* For mobile and tablet */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}